<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <span>
          <img alt="image" class="img-circle" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAaVAAAAJGMwMDE2MWVmLWM1NzEtNDE4NC1iODFkLWFlMmUwNmE1OTBhOA.jpg" width="48px" />
          </span>
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
          <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Lucas Bean</strong>
          </span> <span class="text-muted text-xs block">Director <b class="caret"></b></span> </span> </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li><a href="profile.html">Profile</a></li>
            <li><a href="contacts.html">Contacts</a></li>
            <li><a href="mailbox.html">Mailbox</a></li>
            <li class="divider"></li>
            <li><a href="login.html">Logout</a></li>
          </ul>
        </div>
        <div class="logo-element">
          IN+
        </div>
      </li>
      {{#link-to 'dashboard' tagName="li"}}
        {{#link-to 'dashboard'}}<i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span>{{/link-to}}
      {{/link-to}}
      {{#link-to 'clients' tagName="li"}}
        {{#link-to 'clients'}}<i class="fa fa-diamond"></i> <span class="nav-label">Clients</span>{{/link-to}}
      {{/link-to}}
      <li>
        <a><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Influencers</span></a>
      </li>
      {{#link-to 'topOffers' tagName="li"}}
        {{#link-to 'topOffers'}}<i class="fa fa-envelope"></i> <span class="nav-label">Top Offers </span>{{/link-to}}
      {{/link-to}}
      <li>
        <a><i class="fa fa-pie-chart"></i> <span class="nav-label">Short URLs</span>  </a>
      </li>
      <li>
        <a><i class="fa fa-flask"></i> <span class="nav-label">Reporting</span></a>
      </li>
      <li>
        <a><i class="fa fa-edit"></i> <span class="nav-label">History</span></a>
      </li>
      {{#link-to 'users' tagName="li"}}
        {{#link-to 'users'}}<i class="fa fa-desktop"></i> <span class="nav-label">Users</span>{{/link-to}}
      {{/link-to}}
    </ul>
  </div>
</nav>