@import "style";

.pointer {
  cursor: pointer;
}
.font-small {
  font-size: x-small;
}
.font-medium {
  font-size: medium;
}
.fullheight {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
}
.middle-box h1 {
  font-size: 116px;
}
.logo-name {
  font-weight: 500;
}
.ibox-title button {
  margin-top: -8px;
}
.required {
  color: red;
}
.right {
  float: right;
}
.ember-image-drop {
  height: 200px;
  width: 200px;
}
.imput-sm-padding {
  padding: 0px 2px;
}
dt, dd {
  line-height: 2;
}