<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h2>{{model.name}}</h2>
    {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Edit {{model.name}}</h5>
        </div>
        <div class="ibox-content">
          
        </div>
      </div>
    </div>
  </div>
</div>